@font-face {
	font-family: "Gotham Light";
	src: url(../fonts/GothamHTF-Light.otf);
}

@font-face {
	font-family: "Gotham Medium";
	src: url(../fonts/GothamHTF-Medium.otf);
}

body {
	font-family: "Gotham Light";
	background-image: url("../img/background.jpg");
	background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Gotham Medium";
}

.navbar {
	background-color: RGBA(78, 156, 167, .95);
	border: none;
}

a {
	color: #fff;
}

li.dropdown.open a.dropdown-toggle, li.dropdown a:hover {
	background-color: rgba(255,255,255,.2);
}

.tagline {
	margin: 30px;
}

p.sub-title {
	font-size: 18px;
}

a:hover, a:visited, a:link {
	text-decoration: none;
	color: #fff;
	background: transparent;
}

.dropdown-menu {
	border: 1px solid #ccc;
	border-radius: 0;
}
/* entire container, keeps perspective */
.flip-container {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	float: left;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 300px;
	height: 360px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.full-width-flip-container, .full-width-front, .full-width-back {
	width: 100%;
	height: 100%;

		
		
		
		
}
/* flip speed goes here */
.flipper {
	-webkit-transition: 0.9s;
		-moz-transition: 0.9s;
			-o-transition: 0.9s;
	-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
			-o-transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
			-o-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	/* box-shadow: #444 0px 0px 5px 2px; */
}

/* front pane, placed above back */
.front {
	z-index: 2;
	background: #fff;
	text-align: center;
}
.front img {
	border-bottom: 10px;
}


/* back, initially hidden pane */
.back {
	-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
			-o-transform: rotateY(180deg);
	background: #fff;
}

.content {
	padding: 20px;
	text-align: center;
}
.content-text {
	padding: 20px;
	text-align: left;
}
.content p { margin-top: 20px; }
.content ul {
	list-style-type: none;
	padding: 0; margin: 0;
}

.flip-container .front img {
	margin-top: 20px; 
	width: 80%;
	overflow: hidden;
	box-shadow: 0 4px 12px -2px #cdcdcd;
}
.front {
	padding: 10px;
}
.front h2 { margin-top: 20px; font-size: 20px; line-height: 30px; font-weight: normal; }
.flip-container:hover .flipper,
.flip-container.hover .flipper,
.flip-container.flip .flipper {
	-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
			-o-transform: rotateY(180deg);
}

.container.main { margin-top: 50px; height: 1900px;}
.container.contact { margin-top: 20px; }
#contact {
	background: black;
	color: #fff;
}
#contact ul {
	list-style-type: none;
}
#skills {
	background: #fff;
	color: #000;
}
#links {
	background: #bcbcbc;
	color: #000;
}
.container.skills, .container.links { margin-top: 20px; margin-bottom: 20px;}

.date { font-size: 14px; }
.collapsed {display: none;}
#tableControl, #tableControlLinks {
	height: 40px;
}
#tableControlButton, #tableControlButtonLinks {
	margin-top: -10px;
}
#cardHolder {
	width: 960px;
	margin: 0px auto;	
}
.twitter-container {
	max-width: 400px;
	position: fixed;
	right: 50px;
	top: 150px;
	z-index: 10000;
}
.quote-container {
	background: #444;
	color: #fff;
	width: 98%;
	text-align: center;
}

.label-info {
	background-color: #448396;
}
.label {
	font-weight: normal;
	font-size: 10px;
}
.glyphicon.glyphicon-chevron-down {
	top: 4px;
}
.tagline {
	color: #fff;
	font-weight: normal;
	padding:20px 0 20px;
}
